# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# virtual env and vs code setting
/.venv
/.vscode

# material files
/img-processing/pics
/pdf-processing/miscs
/machine-learning/img
/machine-learning/model

# web-dev files
/web-dev/.vscode
/web-dev/Include
/web-dev/Lib
/web-dev/Scripts
/web-dev/pyvenv.cfg
/web-dev/__pycache__
/web-dev/data.csv
/web-dev/data.json
/web-dev/static
/web-dev/templates